body,html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    background-color: bisque;    
}
header{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 80px;
    align-items: center;
}


   #img{
    display: flex;
    justify-content: center;
    width: 100%;
     align-items:center; 
    width: 15px;
    margin-left: 100%; 
} 
 .adote{
    transition:all 0.3s ;
    margin-left: 50px;
    justify-content:start;
    background-color: brown;
    align-items: flex-start; 
    margin-bottom: 2px;
} 
.nav{
    background-color: chocolate;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
    .hmc{
    transition: all 0.5s;
    text-decoration: none;
}
 .adote:hover{
  transform: scale(1.1);
  transform: rotate(360deg);
  transform: scale(0.1s);
  /* transform: skewY(20deg); */
  /* transform: scaleY(1.5); */
  background-color: #ff695c;

}
.hmc:hover{
    color:black ;
    font-size: 30px;    
}
.a{
    color: black;
    text-decoration: none;
}