body,html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: bisque; 
    align-items: baseline;   
}
header{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    height: 101px;
    align-items: center;
    padding-left: 50px;
}


   #img{
    display: flex;
    width: 15px;
    height: 15px;
} 
 .adote{
    display: flex;
    transition:all 0.3s ;
    justify-content:space-around;
    background-color: brown;
    align-items:center; 
    margin-bottom: 2px;
    text-align: center;
    width: 60%;
} 
#aqui{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.caixa {
    display: flex;
    justify-content: flex-end;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
}
#dogdanca{
    width: 21%;
    
}
.nav{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    width: 30%;
    height: 1%; 
    align-items: center;
   
}
    .hmc{
    width: 30%;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: 'BIZ UDMincho', serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Send Flowers', cursive;
}
.titulo{
    text-align: center;
    border-left: 50%;
}
.sobre{
    text-align: center;
    margin-left: 10px;
    font-family: 'Inspiration', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.caramelo{
    display: flex;
    border-radius: 50%;
    margin-bottom: 50px;
    text-align: center;
}
.fotodog{
    border-radius: 50%;
    text-align: center;
}
.gatos{
    display: flex;
    border-radius: 50%;
    text-align: center;
}
.nome{
    font-family: 'BIZ UDMincho', serif;
    font-family: 'Inspiration', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 30%;
}
.footer{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}
#h1:hover{
  transform: scale(1.1);
  transform: rotate(360deg);
  transition:all 0.3s ;
  transform: scale(0.1s);
  background-color: #ff695c;

}
.hmc:hover{
    color:black ;
    font-size: 30px;    
}
.a{
    color: black;
    text-decoration: none;
}
.nome:hover{
    font-size: 20px;
    color: red;
    background-color: rgba(165,42,42,0.3);
    height: 50%;
    border-radius: 60%;
}