body,html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    /* display:flex; */
    background-color: bisque;    
}
header{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 101px;
    align-items: center;
}


   #img{
    display: flex;
    justify-content: center;
    width: 100%;
     align-items:center; 
    width: 15px;
    margin-left: 100%; 
} 
 .adote{
    transition:all 0.3s ;
    margin-left: 50px;
    justify-content:start;
    background-color: brown;
    align-items: flex-start; 
    margin-bottom: 2px;
    text-align: center;
} 
.nav{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    width: 30%;
    height: 1%;
}
    .hmc{
    width: 30%;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.titulo{
    text-align: center;
    border-left: 50%;
}
.sobre{
    text-align: center;
    margin-left: 10px;
}
.caramelo{
    display: flex;
    border-radius: 50%;
    margin-bottom: 50px;
}
.fotodog{
    border-radius: 50%;
    
}
.gatos{
    display: flex;
    border-radius: 50%;
}

 .adote:hover{
  transform: scale(1.1);
  transform: rotate(360deg);
  transform: scale(0.1s);
  /* transform: skewY(20deg); */
  /* transform: scaleY(1.5); */
  background-color: #ff695c;

}
.hmc:hover{
    color:black ;
    font-size: 30px;    
}
.a{
    color: black;
    text-decoration: none;
}
.nome:hover{
    font-size: 20px;
    color: red;
    background-color: rgba(165,42,42,0.3);
    height: 50%;
    border-radius: 60%;
}

